body {
    background-color:#fff;
    text-align:center;
    font-family: 'Bebas Neue', cursive;
    margin:0;
    font-family: 'Oswald', sans-serif;
}		

p {
    margin:0;
    margin-left:auto; 
    margin-right:auto; 
    width:550px;
}	

input {
    font-size:medium;
}								

#initOptions{
    background-color: #fff;

}
#N{
    width:3rem;
}

#canvasPlace{
    position:relative;
}
#temperatureReadout{
    color:rebeccapurple;
    position:absolute;
    height:100px;
}
#theCanvas{
    z-index: -1;
}


#Temperature{

    display:inline-box;
    text-align: none;
}

#variables h1{
    font-size: 3.5rem;
    margin:0;
    padding-bottom: 1rem;
}

